<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.lmj.dao.UserMapper">

	<select id="FindUserByUsernameAndPassword" resultType="com.lmj.model.User">
		Select * From user where username = #{username} and password = #{password}
	</select>
	
	<select id="FindUserByUsername" parameterType="String" resultType="com.lmj.model.User">
		Select * From user where username = #{value}
	</select>
	
	<select id="FindUserById" parameterType="String" resultType="com.lmj.model.User">
		Select * From user where id = #{id}
	</select>
	
	<select id="FindUserByUsernameAndPhonenum" resultType="com.lmj.model.User">
		Select * From user where username = #{username} and phonenum = #{phonenum}
	</select>
	
	<insert id="InsertUser" parameterType="com.lmj.model.User">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			select replace(uuid(), '-', '') as id from dual
		</selectKey>
		insert into user(id,admin,username,password,phonenum) value(#{id},0,#{username},#{password},#{phonenum})
	</insert>
	
	<select id="UpdateUserPassword" parameterType="com.lmj.model.User">
		Update User set password = #{password} where username = #{username} and phonenum = #{phonenum}
	</select>
	
</mapper>